<a class="btn-floating btn-large waves-effect waves-light red" href="/"><i class="material-icons">view_list</i></a>
<h5 align="center"><i class="small material-icons">mode_edit</i> Edit Job Listing</h5>

<% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
    <%= form_for(@job, :html => {class: "col s12"}) do |f| %>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">business</i>
                <%= f.text_field :company_name, class: "validate", id: "company_name" %>
                <label for="company_name">Company Name</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <%= f.text_field :job_title, class: "validate", id: "job_title" %>
                <label for="job_title">Job Title</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">info</i>
                <%= f.text_field :job_number, class: "validate", id: "job_number" %>
                <label for="job_number">Job Number</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <%= f.text_field :job_link, class: "validate", id: "job_link" %>
                <label for="job_link">Job Link</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <%= f.text_field :date_applied, class: "validate", id: "date_applied" %>
                <label for="date_applied">Date Applied</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <%= f.text_field :interview_date, class: "validate", id: "interview_date" %>
                <label for="interview_date">Interview Date</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <%= f.text_field :contact_person, class: "validate", id: "contact_person" %>
                <label for="contact_person">Contact Person</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <%= f.text_field :contact_email, class: "validate", id: "contact_email" %>
                <label for="contact_email">Contact Email</label>
            </div>
        </div>
        
        <div class="row">
            <%= f.submit class: "waves-effect waves-light orange btn" %>
        </div>
    <% end %>
</div>
