<p>
  <strong>Company Name:</strong>
  <%= @job.company_name %>
</p>
 
<p>
  <strong>Job Title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Date Applied:</strong>
  <%= @job.date_applied %>
</p>

<p>
  <strong>Interview Date:</strong>
  <%= @job.interview_date %>
</p>

<p>
  <strong>Contact Person:</strong>
  <%= @job.contact_person %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @job.contact_email %>
</p>